<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Detail - IRWA Search Engine</title>
</head>
<body>
<div class='doc-desc'>
    <h2>{{doc.title}}</h2>
    <h4><p>Tweet: </p>{{doc.description}}</h4>
    <h5><p>id: </p>{{id}} <p>creation date: </p>{{doc.date}} <p>likes: </p>{{doc.likes}} <p>retweets: </p>{{doc.retweets}}</h5>
</div>
<div><a href="#" onclick="history.go(-1)">Go Back</a></div>
<div><a href="#" onclick="history.go(-2)">Go Back 2 pages</a></div>
<div><a href="#" onclick="history.go(-3)">Go Back 3 pages</a></div>
<div><a href="#" onclick="history.go(-4)">Go Back 4 pages</a></div>
<div><a href="/stats" >Stats</a></div>
</body>
</html>
